<div class="menu">
    <div class="primary-menu row">
        <chouette-logo></chouette-logo>
        <chouette-nav class="col-xs-6 row bottom-xs center-xs"></chouette-nav>
    </div>
</div>

<!--<pw-prenav></pw-prenav>-->
<!--<md-toolbar style="min-height : 70px;">-->
<!--<div class="md-toolbar-tools" layout="row">-->

<!--<pw-logo></pw-logo>-->

<!--<pw-nav></pw-nav>-->

<!--<div flex layout="row" layout-align="center">-->
<!--&lt;!&ndash; <input type="search" class="md-input-search" style="width: 60%"> &ndash;&gt;-->
<!--</div>-->

<!--<pw-profile></pw-profile>-->
<!--</div>-->
<!--</md-toolbar>-->
