@import "../../public/scss/variables";

div[ui-view=menu] {
  background-color: #353535;

  chouette-logo {
    margin: 20px 0 10px;

    img {
      width: 75px;
      margin-left: 35px;
    }
  }

  chouette-nav {
    nav {
      float: left;

      ul {
        margin: 0;
        overflow: hidden;
        list-style-type: none;

        li {
          float: left;

          a, a:link, a:visited, a:active {
            margin: 19px 1px;
            padding: 10px;
            display: block;
            color: #FFFFFF;
            text-decoration: none;
            font-family: 'OpenSans', sans-serif;
            font-size: 12px;
            border-radius: 4px;

            &:hover, &.active {
              background-color: #611F71;
            }
          }
        }
      }
    }

    ul {
      font-size: 0;
      list-style-type: none;
      padding: 0;
      z-index: 1001;

      // initial li
      li {
        font-size: 0.8rem;
        font-weight: 400;
        color: $blue_color;
        display: inline-block;
        padding: 15px;

        & > i {
          font-size: 30px;
          position: relative;
          top: 8px;
        }

        // secondary ul
        ul {
          display: none;
        }

        // initial li:hover
        &:hover {
          cursor: pointer;
          background-color: $blue_color;
          color: white;

          // secondary ul visibility change
          ul {
            display: block;
            margin-top: 15px;
            text-align: left;
            left: 0;
            position: absolute;
            &.megamenu {
              right: 0;

              span {
                float: left;
                padding: 0;
                background-color: transparent;
              }

            }
            // secondary li
            li {
              display: block;
              background-color: lighten($blue_color, 7%);
              color: white;
              span {
                float: right;
                color: white;
                background-color: $blue_color;
                padding: 2px 5px;
                text-align: center;
                font-size: .8rem;
                border-radius: 3px;
              }

              &>a:hover {
                background-color: darken($blue_color, 10%);
                span {
                  background-color: darken($blue_color, 5%);
                }
                &.disabled {
                  background-color: lighten($blue_color, 7%);
                  cursor: not-allowed;
                }
              }
            }
          }
        }
      }
    }

    .mai-mega-menu-row {
      display: flex;
      width: 100%;
      //flex-wrap: wrap;
      margin-right: -20px;
      margin-left: -20px;
    }

    .mai-mega-menu-column:first-child {
      padding-left: 40px;
    }

    .mai-mega-menu-column:first-child {
      padding-left: 40px;
    }

    .mai-mega-menu-section {
      margin: 0 0 15px;

      & > a {
        padding: 10px 0 6px;
        color: #2cc185;
        font-size: 1.231rem;
        font-weight: 400;
        text-decoration: none;

        .icon {
          font-size: 1.385rem;
          line-height: 0.8;
          vertical-align: middle;
          margin-right: 6px;
          margin-bottom: 10px;
        }
      }
    }

    .mai-mega-menu-column:last-child {
      border-right-width: 0;
    }

    .mai-mega-menu-column {
      position: relative;
      width: 100%;
      min-height: 1px;
      flex: 0 0 25%;
      max-width: 25%;
      border-right: 1px solid #f2f2f2;
      padding: 7px 20px;
    }

    .dropdown-item {
      display: block;
      width: 100%;
      clear: both;
      color: #323232;
      text-align: inherit;
      background: 0 0;
      border: 0;
    }

    .mai-nav-tabs-sub .dropdown-menu .dropdown-item {
      color: #616161;
    }
  }
}

@media (min-width: 768px) {
  .mai-mega-menu-row {
    margin-right: -20px;
    margin-left: -20px;
  }

  .mai-mega-menu-column {
    padding-right: 20px;
    padding-left: 20px;
  }
}

@media (min-width: 576px) {
  .mai-mega-menu-row {
    margin-right: -20px;
    margin-left: -20px;
  }

  .mai-mega-menu-column {
    padding-right: 20px;
    padding-left: 20px;
  }
}

