<md-toolbar class="md-hue-1 mini-toolbar" layout="row">
    <div class="mini-toolbar-menu" layout="row" flex layout-align="start center" ng-if="prenavCtrl.authorizeType()">
        <div ng-click="main.root('public.home.companies')"> {{ 'ui.prenav.companies' | translate }}</div>
        <div ng-click="main.root('public.home.campaignlist')"> {{ 'ui.prenav.campaigns' | translate }}</div>
        <div ng-click="main.root('public.home.adgrouplist')"> {{ 'ui.prenav.adgroups' | translate }}</div>
        <div ng-click="main.root('public.home.sitelist')"> {{ 'ui.prenav.sites' | translate }}</div>
        <div ng-click="main.root('public.home.adpositionlist')"> {{ 'ui.prenav.adpositions' | translate }}</div>
        <div ng-click="main.root('public.home.adcopylist')"> {{ 'ui.prenav.adcopies' | translate }}</div>
        <div> {{ 'ui.prenav.users' | translate }} </div>
    </div>
    <div class="mini-toolbar-menu" layout="row" flex layout-align="end center">
        <div ng-click="prenavCtrl.logout();"> {{ 'ui.menu.logout' | translate }} </div>
    </div>
</md-toolbar>
