pw-prenav {
    md-toolbar {
        div {
            div {
                text-transform: uppercase;
                font-size: 10px;
                font-family: 'OpenSans', sans-serif;

                &:hover {
                    cursor : pointer;
                    background-color:#793695;
                }
            }
        }
    }

}
