<ul>
    <li>
        {{ ::'ui.menu.menu1' |translate }} <i class="icon s7-angle-down"></i>
        <ul class="megamenu">
            <li>
                <div class="mai-mega-menu-row">
                    <div class="mai-mega-menu-column">
                        <div class="mai-mega-menu-section parent">
                            <a href="#" class="nav-link">
                                <span class="icon s7-map-2"></span>
                                <span>{{ ::'ui.menu.menu1.subtitle1'|translate }}</span>
                            </a>
                            <div class="mai-mega-menu-sub-items mai-sub-nav">
                                <a ng-if="!navCtrl.isletsIsEmpty()"
                                   href=""
                                   ng-click="navCtrl.onSelectedIslet(islet)"
                                   ng-repeat="islet in navCtrl.islets track by ilot.id"
                                   class="dropdown-item">
                                    {{ islet.name }}
                                </a>
                                <a ng-if="navCtrl.isletsIsEmpty()"
                                   class="dropdown-item">
                                    {{ ::'ui.menu.menu1.sub.empty' |translate }}
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="mai-mega-menu-column">
                        <div class="mai-mega-menu-section parent">
                            <a href="#" class="nav-link">
                                <span class="icon s7-leaf"></span>
                                <span>{{ ::'ui.menu.menu1.subtitle2'|translate }}</span>
                            </a>
                            <div class="mai-mega-menu-sub-items mai-sub-nav">
                                <a ng-if="!navCtrl.isPlotIsEmpty()"
                                   href=""
                                   ng-click="navCtrl.onSelectedPlot(plot)"
                                   ng-repeat="plot in navCtrl.plots track by plot.id"
                                   class="dropdown-item">
                                    {{ plot.name }}
                                </a>
                                <a ng-if="navCtrl.isPlotIsEmpty()"
                                   class="dropdown-item">
                                    {{ ::'ui.menu.menu2.sub.empty' |translate }}
                                </a>
                                <a ng-if="navCtrl.plots === null"
                                   class="dropdown-item disabled">
                                    {{ 'ui.menu.menu2.sub.choosen'|translate }}
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="mai-mega-menu-column">
                        <div class="mai-mega-menu-section parent">
                            <a href="" class="nav-link">
                                <span class="icon s7-graph2"></span>
                                <span>{{ ::'ui.menu.menu1.subtitle3'|translate }}</span>
                            </a>
                            <div class="mai-mega-menu-sub-items mai-sub-nav">
                                <a ng-if="!navCtrl.isAnalyzeIsEmpty()"
                                   href=""
                                   ng-click="navCtrl.onSelectedAnalyze(analyze)"
                                   ng-repeat="analyze in navCtrl.analyzes track by analyze.id_analyzed_data"
                                   class="dropdown-item">
                                    {{ analyze.item_detected }}
                                </a>
                                <a ng-if="navCtrl.isAnalyzeIsEmpty()"
                                   class="dropdown-item">
                                    {{ ::'ui.menu.menu3.sub.empty' |translate }}
                                </a>
                                <a ng-if="navCtrl.analyzes === null"
                                   class="dropdown-item disabled">
                                    {{ 'ui.menu.menu3.sub.choosen'|translate }}
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </li>
    <li>Blog</li>
    <li>Contact</li>
</ul>
