<div class="panel panel-default">
    <div class="panel-heading panel-heading-divider">
        {{ ::appCtrl.user.domain_name }}
        <span class="panel-subtitle">
            This is an example of Google terrain map
        </span>
    </div>
    <div class="panel-body">
        <div class="content-map">
            <leaflet lf-center="domainCtrl.leaflet.center"
                     defaults="domainCtrl.leaflet.defaults"
                     geojson="domainCtrl.leaflet.geojson"
                     event-broadcast="domainCtrl.leaflet.events"
                     width="100%"
                     height="400px">

            </leaflet>
        </div>
    </div>
</div>

