<!DOCTYPE html>
<html ng-app="chouette.app">

<head>
    <base href="/">
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title ng-bind-html="title">Chouette</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="description" content="Client access Chouette">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet">
    <link rel="icon" type="image/png" href="/img/favicon.png">

    <link href="img/apple-touch-icon-76x76.png" rel="apple-touch-icon" sizes="76x76">
    <link href="img/apple-touch-icon-120x120.png" rel="apple-touch-icon" sizes="120x120">
    <link href="img/apple-touch-icon-152x152.png" rel="apple-touch-icon" sizes="152x152">
    <link href="img/apple-touch-icon-180x180.png" rel="apple-touch-icon" sizes="180x180">
    <link href="img/icon-hires.png" rel="icon" sizes="192x192">
    <link href="img/icon-normal.png" rel="icon" sizes="128x128">

    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.1/leaflet.css">


    <script type="application/javascript" src="http://maps.google.com/maps/api/js?v=3&sensor=false"></script>
    <script type="application/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.js"></script>
</head>

<body data-ng-strict-di data-ng-controller="AppController as appCtrl">
<div ui-view="login" class="box">
    <div class="chouette-wrapper">
        <div ui-view="menu"></div>
        <div class="container-fluid chouette-container">
            <div ui-view="content" class="content row"></div>
        </div>
    </div>
</div>
</body>
<!-- {%= o.htmlWebpackPlugin.options.pkg.name + ' v' + o.htmlWebpackPlugin.options.pkg.version + ' built on ' + new Date() %} -->

</html>
