html, body {
  height: 100%;
}

body {
  font-family: 'Open Sans', sans-serif !important;
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.538;
  background-color: #f4f4f4;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif !important;
}

div[ui-view=login] {
  margin:0;
  height: 100%;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.chouette-container {
  margin-top: 40px;
}
