@import "variables";

.float-label .control {
  float: left;
  position: relative;
  text-align: left;
  width: 100%;
  border-bottom: 1px solid $blue_color;
  font-size: 12px;
  padding-top: 23px;
  padding-bottom: 10px;
  font-family: "Roboto", sans-serif;
}

.float-label .control.small {
  width: 30%;
  border-right: 1px solid #ddd;
}

.float-label .control.medium {
  width: 70%;
  padding-left: 10px;
}

/*.float-label .control:last-child {
  border: 0;
}*/
.float-label input,
.float-label textarea {
  display: block;
  width: 100%;
  border: 0;
  outline: 0;
  resize: none;
}

.float-label input + label,
.float-label textarea + label {
  position: absolute;
  top: 10px;
  transition: top 0.7s ease, opacity 0.7s ease;
  opacity: 0;
  font-size: 13px;
  font-weight: 600;
  color: $green_color;
}

.float-label input:valid + label,
.float-label textarea:valid + label {
  opacity: 1;
  top: 3px;
}

.float-label input:focus + label,
.float-label textarea:focus + label {
  color: $blue_color;
}

div[ng-messages] {
  position: absolute;
  color: #be3d38;
  bottom: -20px;
  left: 5px;
}

.input-group {

  input, textarea {
    left: 15%;
    position: relative;
    width: 85%;
  }

  .input-group-addon {
    position: absolute;
    left: 10px;
  }
}
