.panel {
  background-color: #FFF;
  margin-bottom: 29px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, .05);
  border-radius: 1px;
  width: 100%;

  .panel-heading-divider {
    border-bottom: 1px solid #e6e6e6;
    padding-left: 0;
    padding-right: 0;
  }

  .panel-heading {
    font-size: 1.285rem;
    font-weight: 400;
    color: #3d3d3d;
    padding: 24px 0 14px;
    margin: 0 20px;
  }

  .panel-subtitle {
    display: block;
    font-size: 0.8rem;
    line-height: 1;
    margin-bottom: 4px;
    color: #878787;
  }

  .panel-body {
    padding: 14px 20px;
  }
}
