@import "../../public/scss/variables";

#login {
  margin-top: 95px;

  a {
    color: $blue_color;
    font-size: 12px;
  }

  .container-bloc {
    border: 1px solid rgba(221, 221, 221, 0.47);
    box-shadow: -7px -5px 14px 0px #ddd;
    padding: 0;
    height: 500px;

    .welcome-message {
      overflow: hidden;
      padding: 0;
      background-color: #11140a;

      img {
        width: 100%;
      }

      h1 {
        margin-top: -50%;
        font-size: 28px;
        color: white;
        text-align: left;
        padding-left: 16px;
        width: 90%;
      }
    }

    .form-message {
      background-color: #fff;
      position: relative;

      img {
        margin: 50px 0 40px;
      }

      form {
        width: 75%;
        margin: 0 auto;
      }

      .control {
        margin: 10px 0;
      }

      button {
        width: 100%;
        background-color: $green_color;
        border: 0;
        height: 40px;
        border-radius: 5px;
        color: white;
        font-family: "Open Sans", sans-serif;
        margin-top: 35px;

        &:focus {
          outline: 0;
          box-shadow: inset 0 1px 7px 0 #5f5f5f;
        }
      }

      .input-group-addon {
        font-size: 20px;
        top: 20px;
        color: #57c300;
      }

      p.copyright {
        position: absolute;
        text-align: center;
        width: 100%;
        bottom: 0;
      }
    }
  }
}

@media only screen and (max-device-width: 425px) and (-webkit-min-device-pixel-ratio: 1) {
  #login {
    margin-top: 0;

    .container-bloc {
      padding: 0;
      height: 500px;

      .welcome-message {
        height: 240px;
        margin-left: 5px;

        img {
          margin-top: -65%;
        }
      }

      .form-message {
        margin-top: -10px;
        height: 100%;

      }
    }
  }
}
