<div id="login" class="row center-xs">
    <div class="col-md-9 row container-bloc">
        <div class="col-xs-12 col-sm-6  col-md-6 welcome-message">
            <img src="img/bg-left-login.png">
            <h1>
                La surveillance quotidienne des vignes
            </h1>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 form-message">
            <div>
                <img src="img/logo-chouette.png" alt="logo chouette">
            </div>
            <form class="float-label" name="loginForm" autocomplete="off"
                  ng-submit="loginCtrl.onSubmit(login.credentials)">
                <div class="form-group">
                    <div class="control">
                        <div class="input-group field">
                            <span class="input-group-addon">
                                <i class="icon s7-user"></i>
                            </span>
                            <input type="text" id="username" name="username"
                                   ng-model="login.credentials.username"
                                   placeholder="{{ 'ui.login.username' | translate }}" required/>
                            <label for="username">{{ 'ui.login.username' | translate }}</label>
                            <div ng-show="loginForm.username.$invalid && loginForm.username.$dirty"
                                 ng-messages="loginForm.username.$error" role="alert">
                                <div ng-message="required">{{ 'ui.login.username.required' | translate }}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="control">
                        <div class="input-group field">
                            <span class="input-group-addon">
                                <i class="icon s7-lock"></i>
                            </span>
                            <input type="password" id="password" name="password"
                                   ng-model="login.credentials.password"
                                   placeholder="{{ 'ui.login.password' | translate }}" required/>
                            <label for="password">{{ 'ui.login.password' | translate }}</label>
                            <div ng-show="loginForm.password.$invalid && loginForm.password.$dirty"
                                 ng-messages="loginForm.password.$error" role="alert">
                                <div ng-message="required">{{ 'ui.login.password.required' | translate }}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group login-submit">
                    <button data-dismiss="modal" type="submit" class="btn btn-lg btn-primary btn-block">Login</button>
                </div>
            </form>
            <p class="copyright">
                <a href="#">
                    {{ 'ui.login.copyright.name' | translate }} © {{ ::loginCtrl.yearNow }}
                    {{ 'ui.login.copyright.year' | translate }}
                </a>
            </p>
        </div>
    </div>
</div>
